PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=hbGl0Mnq88cL8I5L57bv73vVyK1DipQb
DRIVE_DISK=local
DB_CONNECTION=sqlite
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
